body {
    background-image: url('../../assets/fondo/fondo.jpg');
    background-size: auto;
    background-repeat: repeat;
    width: 100%;
    background-attachment: fixed;
  }

.producto-boton-buscador{
    display: flex;
    flex-direction: row;

}

.buscador{
    width: 250px;
    margin: 20px 0px 20px 70px;
    background-color: #75da76;
    border: 1px solid #75da76;
    color: rgb(255, 255, 255);
    font-size: 20px;
    
}

.boton-agregar-producto{
    margin: 20px 0px 20px 0px;
    margin-left: 820px;
    height: 50px;
    width: 220px;
    font-size: 20px;
    background-color: #75da76;
    border: 1px solid #75da76;
}
.boton-agregar-producto:hover {
    /* Estilos al pasar el cursor */
    background-color: #08b385;
    border: 1px solid #08b385;
}


.tabla-productos{
    text-align: center;
    height: 100px !important;
}

td{
    padding: 0px !important;
    text-align: center;
}

th{
    padding: 0px;
}

.botones-tabla-editar{
    margin: 6px;
}

.botones-tabla-eliminar{
    margin: 6px;
}

